<img src="public/images/sa-nics-agreed-reduced.png" usemap="#map" width="775" height="652" alt="Log in to fill in your Self Assessment tax return for tax year 2014-15" style="display:block; width:1024px; height:auto; margin:0 auto;" />

<map id="map" name="map">
    <area shape="rect" alt="Change dates" title="Change dates" coords="850,400,990,445" href="view.html" />
    <area shape="rect" alt="Recalculate" title="Recalculate" coords="850,510,990,550" href="sa-nics-agreed-reduced.html" />
</map>