{{<layout}}

{{$pageTitle}}
    Remove period of liability
{{/pageTitle}}

{{$main}}


        <div class="grid-row">
            <div class="column-two-thirds">
                <a href="javascript:history.go(-1)" class="link-back">Back</a>
                <h1 class="heading-xlarge info-display">Delete a period</h1>
                
                <div class="panel panel-border-wide space">
                    <p>
                        Deleting this period deletes all self-employment dates in the current year.</p>
                    <p>
                        If you re-start self-employment you'll need to <a href="https://public-online.hmrc.gov.uk/lc/content/xfaforms/profiles/forms.html?contentRoot=repository:///Applications/NICs_iForms/1.0/CWF1_20156&template=CWF1.xdp" target="_blank" rel="external">register again (opens in a new tab)</a>
                    </p>
                </div>
                
                <div class="notice space-smaller">
                    <i class="icon icon-information">
                      <span class="visuallyhidden">Information</span>
                    </i>
                    <strong class="bold-small">
                        Deleting a self-employment period may affect:
                    </strong>
                </div>
                <ul class="list-bullet space-smaller">
                    <li>how many qualifying years you have for State Pension</li>
                    <li>the amount of State Pension you’re likely to get</li>
                    <li>certain benefits you are entitled to</li>
                </ul>
                
                <p class="space"><a href="https://www.gov.uk/national-insurance/what-national-insurance-is-for" target="_blank" rel="external">Find out more on gov.uk (opens in a new tab)</a></p>
                
                <table class="space">
                    <thead>
                        <tr>
                            <th width="50%">Start date</th>
                            <th width="50%">End date</th>
                        </tr>
                    </thead>
                    <tbody>                        
                        <tr>
                            <td>16 November 2014</td>
                            <td>Ongoing</td>
                        </tr>
                    </tbody>
                </table>
                
                <form method="post">
                    <div class="form-group">
                        <a class="button" href="review-delete-second">Continue</a>
                    </div>
                </form>
                <a href="view.html">Cancel</a>
                

            </div>
        </div>



{{/main}}

{{/layout}}