{{<layout}}

{{$pageTitle}}
	Check your Class 2 National Insurance contributions dates
{{/pageTitle}}

{{$main}}


        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge info-display">Update your self-employment details</h1>


                <div class="amounts space">
                    <h2 class="heading-medium">The amount we think you have to pay is:</h2>
                    <p><span class="bold-xlarge" style="color: #28a197">£0</span>
                    <br /><span class="heading-small">Tax year 2014 to 2015</span> </p>
                </div>
                
                <div class="notice space-smaller">
                    <i class="icon icon-important">
                      <span class="visuallyhidden">Warning</span>
                    </i>
                    <strong class="bold-small">
                        Ending your self-employment, changing or deleting dates may affect:
                    </strong>
                </div>
                <ul class="list-bullet space-smaller">
                    <li>how many qualifying years you have for State Pension</li>
                    <li>the amount of State Pension you’re likely to get</li>
                    <li>certain benefits you are entitled to</li>
                </ul>
                
                <h2 class="heading-medium">End your self-employment</h2>
                <a href="cease.html">Enter a date when you ended self-employment</a>
                
                <h2 class="heading-medium">Change or delete your self-employment dates</h2>
                <p><strong class="bold-small">No dates to display.</strong></p>
                
                <p>If you expected to see periods of self-employment here, you can add them by using form <a href="https://www.gov.uk/government/publications/self-assessment-and-national-insurance-contributions-register-if-youre-a-self-employed-sole-trader-cwf1" target="_blank">CWF1 on gov.uk</a>.</p>
                
                <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>
                <p><a href="sa-nics-amount.html">Return to Self Assessment</a></p>
            

            </div>


    </div>





{{/main}}

{{/layout}}