{{<layout}}

{{$pageTitle}}
    Remove period of liability
{{/pageTitle}}

{{$main}}


        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge info-display">Delete a period</h1>

                <p>You want to delete a period and recalculate how much Class 2 National Insurance you have to pay.</p>
                <table class="space">
                    <thead>
                        <tr>
                            <th width="35%">Start date</th>
                            <th width="35%">End date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>6 April 2014</td>
                            <td>19 July 2014</td>
                        </tr>
                    </tbody>
                </table>
                <p>If you delete a period where you have to pay, it will be permanently deleted and can't be recovered.</p>
                <form method="post">
                    <fieldset class="space">
                        <legend class="form-label-bold">Confirm you want to delete a period where you have to pay.</legend>
                        <label class="block-label" for="confirm-removal">
                            <input id="confirm-removal" name="confirm-removal" type="checkbox" value="confirm-removal" required>Delete this period.
                        </label>
                    </fieldset>

                    <div class="form-group">
                        <input type="hidden" name="next-page" value="confirm-delete">
                        <input class="button" type="submit" value="Continue">
                    </div>
                </form>

                <a href="javascript:history.go(-1)" class="link-back">Back</a>

            </div>
        </div>



{{/main}}

{{/layout}}