{{<layout}}

{{$pageTitle}}
    Class 2 National Insurance
{{/pageTitle}}

{{$main}}

    <main id="content" role="main">

            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="heading-xlarge info-display">Paying your Class 2 National Insurance for self-employment</h1>
                    <p class="lede">You have to pay Class 2 National Insurance when in self-employment. Class 2 contributions are £2.80 a week for the tax year 2015 to 2016 and are paid as part of your Self Assessment.</p>

                    <div class="panel-indent space">
                    <p>Use this service to:</p>
                    <ul class="list-bullet">
                        <li>view your self-employment dates</li>
                        <li>change your self-employment dates if any are incorrect</li>
                        <li>understand how much Class 2 National Insurance you have to pay</li>
                        <li>recalculate how much you have to pay if you change or delete any self-employment dates</li>
                    </ul>
                    </div>

                    <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>

                    <a class="button button-get-started" href="/iteration2alt/view.html" role="button">Start</a>

                    <h2 class="heading-medium">What you need to know</h2>
                    <ul class="list-bullet">
                        <li>any gaps between dates may be because you claimed a benefit where you got National Insurance credits or you stopped and re-started self-employment</li>
                        <li>you still have to pay Class 2 National Insurance during a temporary break in self-employment if there is intention to continue with self-employed work</li>
                        <li>if you choose to remove a self-employment period, it will be permanently deleted and can't be recovered</li>
                    </ul>

                    <p>You can make changes <a href="#">outside of the relevant tax year</a>.</p>
                </div>
            </div>

        </main>





    </div>


</main>


{{/main}}

{{/layout}}