{{<layout}}

{{$pageTitle}}
    Change end date
{{/pageTitle}}

{{$main}}

        <div class="grid-row">
            <div class="column-two-thirds">
                <a href="javascript:history.go(-1)" class="link-back">Back</a>
                <h1 class="heading-xlarge info-display">Change your end date</h1>
                    
                    <table class="space">
                    <thead>
                        <tr>
                            <th width="50%">Current end date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>5 July 2014</td>
                        </tr>
                    </tbody>
                </table>
                    
                <div class="notice space-smaller">
                    <i class="icon icon-important">
                      <span class="visuallyhidden">Warning</span>
                    </i>
                    <strong class="bold-small">
                        Changing your self-employment dates may affect:
                    </strong>
                </div>
                <ul class="list-bullet space-smaller">
                    <li>how many qualifying years you have for State Pension</li>
                    <li>the amount of State Pension you’re likely to get</li>
                    <li>certain benefits you are entitled to</li>
                </ul>
                <p><a href="https://www.gov.uk/national-insurance/what-national-insurance-is-for" target="_blank">Find out more on gov.uk.</a></p>

                <form method="post" class="space">
                    
                    <div class="form-date form-group">
                        <fieldset>
                        
                            <legend id="new-end-date" class="form-label-bold">Enter new end date</legend>
                            <p class="form-hint">For example, 31 3 2015</p>
                            
                            <div class="form-group form-group-day">
                                <label for="endDay">Day</label>
                                <input autocomplete="off" class="form-control" id="endDay" name="endDay" type="number"  pattern="[0-9]*" min="1" max="31" maxlength="2" required aria-describedby="error-end-date">
                            </div>
                            <div class="form-group form-group-month">
                                <label for="endMonth">Month</label>
                                <input autocomplete="off" class="form-control" id="endMonth" name="endMonth" type="number" maxlength="2" pattern="[0-9]*" min="1" max="12" required>
                            </div>
                            <div class="form-group form-group-year">
                                <label for="endYear">Year</label>
                                <input autocomplete="off" class="form-control" id="endYear" name="endYear" type="number" maxlength="4" pattern="[0-9]*" min="2014" max="2015" required>
                            </div>
                        </fieldset>
                    </div>


                    <div class="form-group>">
                        <input type="hidden" name="next-page" value="review-end">
                        <input class="button" type="submit" value="Continue">
                    </div>
                </form>
                <a href="view.html">Cancel</a>
            </div>
        </div>



{{/main}}

{{/layout}}