{{<layout}}

{{$pageTitle}}
	Change your liability dates
{{/pageTitle}}

{{$main}}


        <div class="grid-row">
            <div class="column-two-thirds">
                <a href="javascript:history.go(-1)" class="link-back">Back</a>
                <h1 class="heading-xlarge info-display">Make a change</h1>
                
                <table class="space">
                    <thead>
                        <th colspan="2"> Self-employment period</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Started on<br/>
                                5 October 2014
                            </td>
                            <td>
                                Continued into<br/>
                                2015-2016
                            </td>
                        </tr>
                    </tbody>
                </table>

                <form method="post">
                    
                    <div class="form-group">
                        <fieldset>
                            <legend class="form-label-bold">What change would you like to make?</legend>
                            <div class="form-group">
                            <label class="block-label" for="radio-1">
                                <input id="radio-1" type="radio" name="next-page" value="change-start-date">Change start date of 5 October 2014
                            </label>
                            <label class="block-label" for="radio-2">
                                <input id="radio-2" type="radio" name="next-page" value="add-end-date">End this period
                            </label>
                            <label class="block-label" for="radio-3">
                                <input id="radio-3" type="radio" name="next-page" value="delete-period">Permanently delete this period
                            </label>
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-group">
                        <input class="button" type="submit" value="Continue">
                    </div>
                </form>
                <a href="view.html">Cancel</a>

            </div>
        </div>



{{/main}}

{{/layout}}