{{<layout}}

{{$pageTitle}}
	Update your self-employment details
{{/pageTitle}}

{{$main}}


        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge info-display">Update your <br />self-employment details</h1>
                
                <h2 class="heading-medium">The Update your self-employment details service is unavailable at the moment.</h2>

                <p>The service is currently undergoing maintenance and will be back online soon.</p>
                
                <hr />
                
                <h2 class="heading-medium">Nid yw’r gwasanaeth i ddiweddaru eich manylion hunangyflogaeth ar gael ar hyn o bryd.</h2>
                
                <p class="space">Ar hyn o bryd, mae’r gwasanaeth yn cael ei gynnal a bydd ar gael yn fuan.</p>
                
                <p><a class="grey-button" href="javascript:window.open('','_self').close();">Exit this service / Gadael y gwasanaeth hwn</a></p>
            

            </div>


    </div>





{{/main}}

{{/layout}}