{{<layout}}

{{$pageTitle}}
	Update your self-employment details
{{/pageTitle}}

{{$main}}


        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge info-display">Update your self-employment details</h1>
                
                <h2 class="heading-medium">The Update your self-employment details service is unavailable at the moment.</h2>

                <p>The Update your self-employment details service is currently undergoing maintenance. We apologise for any inconvenience.</p>
                <p>The service will be back online very soon.  Please try again later.</p>
                
                <hr />
                
                <p>Welsh translation of error message to go here.</p>
                
                <hr />
                
                <p><a class="grey-button" href="javascript:window.open('','_self').close();">Exit this service</a></p>
            

            </div>


    </div>





{{/main}}

{{/layout}}