{{<layout}}

{{$pageTitle}}
	Check your Class 2 National Insurance contributions dates
{{/pageTitle}}

{{$main}}


        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge info-display">Update your self-employment details</h1>

                <p>This service is unavailable due to scheduled maintenance.</p>
                
                <p>Welsh translation of error message to go here.</p>
                <p><a class="grey-button" href="javascript:window.open('','_self').close();">Exit this service</a></p>
            

            </div>


    </div>





{{/main}}

{{/layout}}