{{<layout}}

{{$pageTitle}}
	Check your Class 2 National Insurance contributions dates
{{/pageTitle}}

{{$main}}
            
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge info-display">Update self-employment details</h1>
                <h2 class="heading-large">Choose a client</h2>

                <table class="space">
                    <thead>
                        <tr>
                            <th width="80%">Client</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mr D Anderson</td>
                            <td><a class="button" href="view" style="float: right">Update<span class="visuallyhidden"> Mr D Anderson</span></a></td>
                        </tr>
                        <tr>
                            <td>Anglin Incorporated</td>
                            <td><a class="button" href="#" style="float: right">Update<span class="visuallyhidden"> Anglin Incorporated</span></a></td>
                        </tr>
                        <tr>
                            <td>Apotheloz Corporation</td>
                            <td><a class="button" href="#" style="float: right">Update<span class="visuallyhidden"> Apotheloz Corporation</span></a></td>
                        </tr>
                        <tr>
                            <td>Armstrong Shipping</td>
                            <td><a class="button" href="#" style="float: right">Update<span class="visuallyhidden"> Armstrong Shipping</span></a></td>
                        </tr>
                        <tr>
                            <td>Aubut Technologies</td>
                            <td><a class="button" href="#" style="float: right">Update<span class="visuallyhidden"> Aubut Technologies</span></a></td>
                        </tr>
                    </tbody>
                </table>
                
                <p><a class="grey-button" href="javascript:close_window();">Exit this service</a></p>
            

            </div>


    </div>


{{/main}}

{{/layout}}