{{<layout}}

{{$pageTitle}}
    Remove period of liability
{{/pageTitle}}

{{$main}}

        <div class="delagationbanner">You are acting on behalf of <span class="bold-small">Mr D Anderson</span>. <a href="our-client-list">Return to client list.</a></div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <a href="javascript:history.go(-1)" class="link-back">Back</a>
                <h1 class="heading-xlarge info-display">Confirm delete</h1>
                
                <div class="notice space-smaller">
                    <i class="icon icon-important">
                      <span class="visuallyhidden">Warning</span>
                    </i>
                    <strong class="bold-small">
                        If you delete this period it will be permanently deleted and can't be recovered.
                    </strong>
                </div>
                
                <table class="space">
                    <thead>
                        <tr>
                            <th width="50%">Start date</th>
                            <th width="50%">End date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Continuing from<br />2013 to 2014</td>
                            <td>7 June 2014</td>
                        </tr>
                    </tbody>
                </table>                
                
                <h2>Are you sure you want to permanently delete this period of self employment?</h2>
                <form method="post">
                    <div class="form-group">
                        <a class="button" href="confirm-delete">Permanently delete</a>
                    </div>
                </form>
                <a href="view.html">Cancel</a>
                

            </div>
        </div>



{{/main}}

{{/layout}}