{{<layout}}

{{$pageTitle}}
	Self-employment ended
{{/pageTitle}}

{{$main}}



    <div class="grid-row">
        <div class="column-two-thirds">

            <div class="govuk-box-highlight">
                <h1 class="heading-large"><img src="public/images/icons/tick.png"> Self-employment ended</h1>
                <strong class="heading-medium">Your self-employment ended on<br/>3 January 2015</strong>
            </div>

            <p>The amount we think you have to pay has changed:</p>

            <div class="column-half space">
                <p><span class="font-xsmall">From</span><br /><span class="bold-large" style="color: #6F777B">£107.25</span>
                <br /><span class="heading-small">Tax year 2014 to 2015</span></p>
            </div>
            <div class="column-half space">
                <p><span class="font-xsmall">To</span><br /><span class="bold-large" style="color: #28a197">£71.50</span>
                <br /><span class="heading-small">Tax year 2014 to 2015</span></p>
            </div>

            <p><a href="view-ceased.html">Make another change</a></p>

            <div class="panel panel-border-narrow space-smaller">
                <p><a href="sa-nics-amount.html">Return to Self Assessment</a><br />
                When returning to the Self Assessment form, you'll need to click recalculate to get the new amount you have to pay.
                </p>
            </div>
                
            <hr />
            {{! <p><a href=“https://www.gov.uk/done/name-of-your-service”>What did you think of this service?</a> (takes 30 seconds)</p> }}
            <p><a href=“#”>What did you think of this service?</a> (takes 30 seconds)</p>

        </div>
    </div>



{{/main}}

{{/layout}}