{{<layout}}

{{$pageTitle}}
	Check your Class 2 National Insurance contributions dates
{{/pageTitle}}

{{$main}}


        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge info-display">Update your self-employment details</h1>


                <div class="amounts space">
                    <h2 class="heading-medium">The amount we think you have to pay is:</h2>
                    <p><span class="bold-xlarge" style="color: #28a197">£107.25</span></p>
                </div>
                
                <h2 class="heading-medium">Self-employment for tax year 2014 to 2015</h2>
                
                <table class="space">
                    <tbody>
                        <tr>
                            <td>
                                Continued from<br/>
                                <strong class="bold-small">2013-2014</strong>
                            </td>
                            <td>
                                Ended on<br/>
                                <strong class="bold-small">5 July 2014</strong><br/>
                            </td>
                            <td><a class="button" href="make-changes" style="float: right" title="Make changes">Make changes</a></td>
                        </tr>
                        <tr>
                            <td>
                                Started on<br/>
                                <strong class="bold-small">5 October 2014</strong><br/>
                            </td>
                            <td>
                                Continued into<br/>
                                <strong class="bold-small">2015-2016</strong><br/>
                            </td>
                            <td><a class="grey-button" href="make-changes-second" style="float: right" title="Make changes">Make changes</a></td>
                        </tr>
                    </tbody>
                </table>
                
                <p>These are the periods you have registered as being self-employed.</p>
                <p>If you think there is a period missing, you can add periods of self-employment by using form <a href="https://www.gov.uk/government/publications/self-assessment-and-national-insurance-contributions-register-if-youre-a-self-employed-sole-trader-cwf1" target="_blank">CWF1 on gov.uk</a>.</p>
                <p>Gaps between periods are when you informed HMRC you were no longer in or actively seeking self-employment.<br/>
                Temporary breaks will not be shown here.</p>
                
                <details class="space">

                            <summary><span class="summary">What is a temporary break in self-employment?</span></summary>

                            <div class="panel panel-border-narrow">

                              <p>
                                You still have to pay Class 2 NICs during a temporary break if you intend to continue being self-employed. This includes:
                              </p>

                                <ul class="list list-bullet">
                                    <li>taking a holiday abroad or in the UK;</li>
                                    <li>gaps between self-employed projects;</li>
                                    <li>times you are not carrying out self-employed work, but still actively seeking it and advertising for it;</li>
                                    <li>writers undertaking research;</li>
                                    <li>on jury service.</li>
                                </ul>

                            </div>

                        </details>
                
                <table class="space">
                    <thead>
                        <tr>
                            <th width="30%">Start date</th>
                            <th width="30%">End date</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Continuing from<br/>2014-2015</td>
                            <td>5 July 2014</td>
                            <td><a class="" href="change-dates" style="float: right" title="Change a date">Change</a></td>
                            <td><a class="" href="delete-period" style="float: right" title="Delete period">Delete</a></td>
                        </tr>
                        <tr>
                            <td>5 October 2014</td>
                            <td>Continuing into<br />2015-2016</td>
                            <td><a class="" href="change-dates" style="float: right" title="Change a date">Change</a></td>
                            <td><a class="" href="delete-period" style="float: right" title="Delete period">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
                
                <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>
                <p><a class="grey-button" href="sa-nics-amount.html">Return to Self Assessment</a></p>
            

            </div>


    </div>





{{/main}}

{{/layout}}