{{<layout}}

{{$pageTitle}}
	Update your self-employment details
{{/pageTitle}}

{{$main}}


        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge info-display">Update your <br />self-employment details</h1>
                
                <h2 class="heading-medium">This service will be available soon.</h2>
                
                <p>To tell us about a change in your self-employment, you can use the <a href="https://public-online.hmrc.gov.uk/lc/content/xfaforms/profiles/forms.html?contentRoot=repository:///Applications/NICs_iForms/1.0/CWF1_20156&template=CWF1.xdp">CWF1 form to change a start date</a>, or you can <a href="https://online.hmrc.gov.uk/shortforms/form/CeaseTrading">end your self-employment</a>.</p>
                
                <p><a class="grey-button" href="javascript:window.open('','_self').close();">Exit this service</a></p>
            

            </div>


    </div>





{{/main}}

{{/layout}}