{{<layout}}

{{$pageTitle}}
	Update your self-employment details
{{/pageTitle}}

{{$main}}


        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge info-display">Update your <br />self-employment details</h1>
                
                <h2 class="heading-medium">This service is unavailable at the moment.</h2>
                
                <p>To tell us about a change in your self-employment:</p>
                <p>Telephone: 0300 200 3500</p>
                <p>Textphone: 0300 200 3519</p>
                <p>Outside UK: +44 191 203 7010</p>
                <h2 class="heading-small">Opening times</h2>
                <p>8am to 8pm, Monday to Friday<br> 
                    8am to 4pm Saturday<br></p>
                <p>Closed Sundays and bank holidays</p>
                <p>Phone lines are less busy before 10am, Monday to Friday</p>
                <p class="call-charges"><a href="https://www.gov.uk/call-charges" target="_blank" rel="external">Find out about call charges (opens in a new tab)</a></p> 
                
                <hr />
                
                <h2 class="heading-medium">Nid yw'r gwasanaeth ar gael ar hyn o bryd.</h2>
                
                <p>I roi gwybod i ni am newid yn eich hunangyflogaeth:</p>
                <p>Ff&#244;n: 0300 200 3500</p>
                <p>Ff&#244;n testun: 0300 200 3519</p>
                <p>Tu allan i'r DU: +44 191 203 7010</p>
                <h2 class="heading-small">Oriau agor:</h2>
                <p>08:00 i 20:00 Dydd Llun i Ddydd Gwener<br> 
                   08:00 i 16:00 Dydd Sadwrn<br></p>
                <p>Ar gau ar Ddydd Sul a gwyliau'r banc</p>
                <p>Mae llinellau ffon yn llai prysur cyn 10:00, dydd Llun i ddydd Gwener</p>
                <p class="call-charges"><a href="https://www.gov.uk/call-charges" target="_blank" rel="external">Gwybodaeth am gostau galwadau (yn agor mewn tab newydd)</a></p> 
                
                <p><a class="grey-button" href="javascript:window.open('','_self').close();">Exit this service / Gadael y gwasanaeth hwn</a></p>
            

            </div>


    </div>





{{/main}}

{{/layout}}