{{<layout}}

{{$pageTitle}}
    National Insurance Class 2 Reform
{{/pageTitle}}

{{$main}}

    <main id="content" role="main">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge info-display">Change start and end date</h1>


                <p class="lede">Change your periods of Class 2 liability for the previous tax year and recalculate the amount that is payable.</p>


                    <p>Your current start date is <span class="heading-small">6th April 2015</span>
                    <br />Your current end date is <span class="heading-small">18th July 2015</span></p>

                <h2 class="heading-medium">Start date</h2>

                <div class="panel-indent panel-indent-info space">
                <p>You can:</p>
                <ul class="list-bullet">
                    <li>change your start date to a Sunday</li>
                    <li>change your start date to any other day, but it will default to the preceding Sunday.</ul>
                </li>
                </div>


                <form>

                    <fieldset class="space">
                        <legend class="form-label-bold">Change your start date for your Class 2 liability</legend>
                        <div class="form-date">
                            <p class="form-hint">For example, 31 3 2015</p>
                            <div class="form-group form-group-day">
                              <label for="dob-day">Day</label>
                              <input autocomplete="off" class="form-control" id="dob-day" name="dob-day" type="number"  pattern="[0-9]*" min="0" max="31" maxlength="2" required>
                            </div>
                            <div class="form-group form-group-month">
                              <label for="dob-month">Month</label>
                              <input autocomplete="off" class="form-control" id="dob-month" name="dob-month" type="number" maxlength="2" pattern="[0-9]*" min="0" max="12" required>
                            </div>
                            <div class="form-group form-group-year">
                              <label for="dob-year">Year</label>
                              <input autocomplete="off" class="form-control" id="dob-year" name="dob-year" type="number" maxlength="4" pattern="[0-9]*" min="0" max="2014" required>
                            </div>
                        </div>
                    </fieldset>



<h2 class="heading-medium">End date</h2>

                  <div class="panel-indent panel-indent-info space">
                <p>You can:</p>
                <ul class="list-bullet">
                    <li>change your end date to a Saturday</li>
                    <li>change your end date to any other day, but it will default to the following Saturday</li>
                </li>
                </div>



                    <fieldset class="space">
                        <legend class="form-label-bold">Change your end date for your Class 2 liability</legend>
                        <div class="form-date">
                            <p class="form-hint">For example, 31 3 2015</p>
                            <div class="form-group form-group-day">
                              <label for="dob-day">Day</label>
                              <input autocomplete="off" class="form-control" id="dob-day" name="dob-day" type="number"  pattern="[0-9]*" min="0" max="31" maxlength="2" required>
                            </div>
                            <div class="form-group form-group-month">
                              <label for="dob-month">Month</label>
                              <input autocomplete="off" class="form-control" id="dob-month" name="dob-month" type="number" maxlength="2" pattern="[0-9]*" min="0" max="12" required>
                            </div>
                            <div class="form-group form-group-year">
                              <label for="dob-year">Year</label>
                              <input autocomplete="off" class="form-control" id="dob-year" name="dob-year" type="number" maxlength="4" pattern="[0-9]*" min="0" max="2014" required>
                            </div>
                        </div>
                    </fieldset>

                    <div class="form-group>">
                        <input class="button" type="submit" value="Continue">
                        {{! <a class="button" href="/sprint0/review-both.html" role="button">Continue</a> }}
                    </div>
                  </form>

                <a href="javascript:history.go(-1)" class="link-back">Back</a>

            </div>
        </div>
    </main>


{{/main}}

{{/layout}}