{{<layout}}

{{$pageTitle}}
	National Insurance Class 2 Reform
{{/pageTitle}}

{{$main}}

    <main id="content" role="main">

            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="heading-xlarge info-display">Changes received</h1>


                    <a class="button applicationButton startapplication" style="background:#005EA5;" href="/sprint0/view.html">+ Make another change</a>
                    <div class="form-group">
                        <a class="button" href="/">Finish and return to Self Assessment</a>
                    </div>



                </div>
            </div>

        </main>





    </div>


</main>


{{/main}}

{{/layout}}