{{<layout}}

{{$pageTitle}}
	National Insurance Class 2 Reform
{{/pageTitle}}

{{$main}}

    <main id="content" role="main">

            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="heading-xlarge info-display"></h1>


                    <div class="confirmation">
                        <p class="heading-xlarge"><img src="public/images/icons/icon-pointer.png" >Changes received</p>
                    </div>


                    {{! <p><span class="bold-xlarge" style="color: #2B8CC4"></style>£128.80</span>
                    <br />is your current Class 2 liability for the <span class="heading-small">Tax year 6 April 2015 to 5 April 2016</span> </p>
 }}

                    <h2 class="heading-medium">Your revised liability</h2>
                        <div class="amounts">
                    <p><span class="bold-xlarge" style="color: #2B8CC4"></style>£128.80</span>
                    <br />{{! is your current Class 2 liability for the }} <span class="heading-small">Tax year 12 April 2015 to 9 April 2016 (52 weeks)</span> </p>
                </div>


                <h2 class="heading-medium">Your revised periods of liability are:</h2>
                <table class="space">
                    <thead>
                        <tr>
                            <th width="35%">Start date</th>
                            <th width="35%">End date</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12 April 2015</td>
                            <td>18 June 2015</td>

                        </tr>
                        <tr>
                            <td>16 October 2015</td>
                            <td>9 April 2016</td>

                        </tr>

                    </tbody>
                </table>



                    <a class="button applicationButton startapplication" style="background:#005EA5;" href="/sprint0/view.html">+ Make another change</a>
                    <div class="form-group">
                        <a class="button" href="/">Finish and return to Self Assessment</a>
                    </div>



                </div>
            </div>

        </main>





    </div>


</main>


{{/main}}

{{/layout}}