{{<layout}}

{{$pageTitle}}
	National Insurance Class 2 Reform
{{/pageTitle}}

{{$main}}

    <main id="content" role="main">

            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="heading-xlarge info-display">Class 2 National Insurance</h1>
                    <p class="lede">Use this service to view and change your periods of Class 2 liability for the previous tax year, and recalculate the amount that is payable.</p>

                    <h2 class="heading-large">Before you start</h2>
                    <div class="panel-indent">
                        The company secretary or the person acting as the company secretary must have approved this return and must also agree to any declaration you make within this service.
                    </div>


                    <a class="button button-get-started" href="sprint0/view.html">Continue</a>



                </div>
            </div>

        </main>





    </div>


</main>


{{/main}}

{{/layout}}