{{<layout}}

{{$pageTitle}}
	National Insurance Class 2 Reform
{{/pageTitle}}

{{$main}}

    <main id="content" role="main">

            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="heading-xlarge info-display">Class 2 National Insurance</h1>
                    <p class="lede">You can view, change and recalculate your periods of Class 2 National Insurance liability for the relevant tax year.</p>

                    <div class="panel-indent panel-indent-info space">
                        <p>The online service is also available in Welsh (Cymraeg).</p>
                    </div>


                    <a class="button button-get-started" href="/sprint0/view.html" role="button">Start</a>

                    <h2 class="heading-medium">What you need to know</h2>
                    <ul class="list-bullet">
                        <li>Your Class 2 National Insurance weekly liability starts on a Sunday and ends on a Saturday, so the dates shown may differ from the standard tax year (06 April to 05 April)</li>
                        <li>Any gaps between your periods of liability may be because you claimed a benefit where you received credits or you stopped and re-started self-employment.</li>
                    </ul>

                    <div class="panel-indent panel-indent-info space">
                        <p>You still have to pay Class 2 National Insurance during a temporary break in self-employment if you plan to continue with self-employed work.</p>
                    </div>
                    <p>You can make changes <a href="#">outside of the relevant tax year</a>.</p>
                </div>
            </div>

        </main>





    </div>


</main>


{{/main}}

{{/layout}}