{{<layout}}

{{$pageTitle}}
	National Insurance Class 2 Reform
{{/pageTitle}}

{{$main}}

    <main id="content" role="main">

            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="heading-xlarge info-display">Review your changes</h1>


                    <p>You have requested to make the following changes to your period of liability:</p>
                    <table class="space">
                        <thead>
                            <tr>
                                <th width="35%">Current start date</th>
                                <th width="35%">New start date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>12 April 2015</td>
                                <td>12 May 2015</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="panel-indent panel-indent-info space">
                    <p>The date you added is not a Sunday, therefore your liability will default to the preceding Sunday. Your new start date will be:</p>
                    <span class="heading-medium">8 May 2015</span>


                    </div>

                    <p>Your new liability will be calculated on submission.</p>

                    <a class="button applicationButton " style="background:#005EA5;" href="/sprint0/view.html">Amend or cancel</a>
                    <div class="form-group">
                    <a class="button" href="/sprint0/confirm.html">Confirm and submit</a>
                    </div>



                </div>
            </div>

        </main>





    </div>


</main>


{{/main}}

{{/layout}}