{{<layout}}

{{$pageTitle}}
	National Insurance Class 2 Reform
{{/pageTitle}}

{{$main}}

    <main id="content" role="main">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge info-display">Your current liability</h1>
                <p>Use this service to view and change your periods of Class 2 liability for the previous tax year, and recalculate the amount that is payable.</p>

                {{! <h2 class="heading-large">Your current liability</h2> }}
                <div class="amounts">
                    <p><span class="bold-xlarge" style="color: #2B8CC4"></style>£106.40</span>
                    <br /><span class="heading-small">Tax year April 2014 - April 2015</span></p>
                </div>

                <h2 class="heading-medium">Your periods of self-employment</h2>
                <table>
                    <thead>
                        <tr>
                            <th width="35%">From date</th>
                            <th width="35%">To date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>6th April 2014</td>
                            <td>18th June 2014</td>
                            <td><a class="" href="/version/edit-dates" style="float: right">Change dates</a></td>
                        </tr>
                        <tr>
                            <td>11th August 2014</td>
                            <td>5th April 2015</td>
                            <td><a class="" href="/version/edit-dates" style="float: right">Change dates</a></td>
                        </tr>

                    </tbody>
                </table>
                <p class="font-xsmall" style="margin-top: 2em">If these details are wrong, <a href="#" target="_blank">contact xxxx xxxx (opens in a new window)</a>.</p>


            </div>


    </div>


</main>


{{/main}}

{{/layout}}