{{<layout}}

{{$pageTitle}}
	Review your change
{{/pageTitle}}

{{$main}}



            <div class="grid-row">
                <div class="column-two-thirds">
                    <a href="javascript:history.go(-1)" class="link-back">Back</a>
                    <h1 class="heading-xlarge info-display">Review your change</h1>
                    <table class="space">
                        <thead>
                            <tr>
                                <th width="35%">Current start date</th>
                                <th width="35%">Requested start date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>6 April 2014</td>
                                <td>{{inputDate}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <p>We use Sundays as the first day of a contribution week.</p>
                        <details class="space">

                            <summary><span class="summary">What's a contribution week?</span></summary>

                            <div class="panel panel-border-narrow">

                              <p>
                                A ‘contribution week’ is defined as a period of seven days beginning with midnight between Saturday and Sunday. The first day of the contribution week is Sunday and Saturday is the last. The first week of the contribution year starts on the first Sunday after 5 April.
                              </p>

                              <p>
                                So, for example, the first contribution week of the 2014/15 contribution year starts on Sunday 6 April 2014 and ends on Saturday 11 April 2015. Some contribution years will include 53 contribution weeks.
                              </p>

                            </div>

                        </details>
                    
                    <div class="panel panel-border-narrow space">
                            If you don't choose a Sunday, your new start date will default to the previous Sunday to record the whole week as a contribution period.</p>
                        <p>Your new start date will be:</p>
                        <span class="heading-medium">{{startDate}}</span>
                    </div>

                    <p class="space">Your Class 2 National Insurance contributions will be recalculated on submission.</p>

                    <div class="form-group" class="space">
                        <a class="button" href="confirm-start">Confirm and submit</a>
                    </div>
                    <a href="view.html">Cancel</a>
                </div>
            </div>





{{/main}}

{{/layout}}