{{<layout}}

{{$pageTitle}}
	Review your change
{{/pageTitle}}

{{$main}}



            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="heading-xlarge info-display">Review your change</h1>



                    <table class="space">
                        <thead>
                            <tr>
                                <th width="35%">Current end date</th>
                                <th width="35%">New end date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>5 April 2015</td>
                                <td>{{inputDate}}</td>
                            </tr>
                        </tbody>
                    </table>

                        <p>We use Saturdays as the last day of a contribution week.</p>
                        <details class="space">

                            <summary><span class="summary">What's a contribution week?</span></summary>

                            <div class="panel panel-border-narrow">

                              <p>
                                A ‘contribution week’ is defined as a period of seven days beginning with midnight between Saturday and Sunday. The first day of the contribution week is Sunday and Saturday is the last. The first week of the contribution year starts on the first Sunday after 5 April.
                              </p>

                              <p>
                                So, for example, the first contribution week of the 2011/12 contribution year starts on Sunday 10 April 2011 and ends on Saturday 7 April 2012. Some contribution years will include 53 contribution weeks.
                              </p>

                            </div>

                        </details>
                    <div class="panel panel-border-narrow space">
                        <p>If you haven't chosen a Saturday, your new start date will default to the following Saturday to record a full contribution week.</p>
                        <p>Your new end date will be:</p>
                        <span class="heading-medium">{{endDate}}</span>
                    </div>

                    <p>The amount of Class 2 National Insurance you need to pay will be recalculated on submission.</p>


                    <div class="form-group">
                        <a class="button" href="confirm-end">Confirm and submit</a>
                    </div>

                    <a href="javascript:history.go(-1)" class="link-back">Back</a>


                </div>

            </div>


{{/main}}

{{/layout}}