{{<layout}}

{{$pageTitle}}
	Check your Class 2 National Insurance contributions dates
{{/pageTitle}}

{{$main}}


        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge info-display">Update your self-employment details</h1>


                <div class="amounts">
                    <h2 class="heading-medium">The amount we think you have to pay is:</h2>
                    <p><span class="bold-xlarge" style="color: #2B8CC4">£107.25</span>
                    <br /><span class="heading-small">Tax year 2014 to 2015</span> </p>
                </div>
                
                <div class="notice space-smaller">
                    <i class="icon icon-important">
                      <span class="visuallyhidden">Warning</span>
                    </i>
                    <strong class="bold-small">
                        Changing, deleting or ending your self-employment dates may impact:
                    </strong>
                </div>
                <ul class="list-bullet space">
                    <li>how many qualifying years you have for State Pension</li>
                    <li>the amount of State Pension you’re likely to get</li>
                    <li>certain benefits you are entitled to</li>
                </ul>
                
                <h2 class="heading-medium">You can end your self-employment or change or delete dates below:</h2>
                
                <a href="cease.html" class="grey-button">End your self-employment</a>
                
                <table class="space">
                    <thead>
                        <tr>
                            <th width="30%">Start date</th>
                            <th width="30%">End date</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>6 April 2014</td>
                            <td>5 July 2014</td>
                            <td><a class="" href="change-dates" style="float: right" title="Change a date">Change</a></td>
                            <td><a class="" href="delete-period" style="float: right" title="Delete period">Delete</a></td>
                        </tr>
                        <tr>
                            <td>5 October 2014</td>
                            <td>5 April 2015</td>
                            <td><a class="" href="change-dates" style="float: right" title="Change a date">Change</a></td>
                            <td><a class="" href="delete-period" style="float: right" title="Delete period">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
                
                <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>
                <div class="space-smaller">
                    <a href="index.html">Return to Self Assessment</a>
                </div>
                <div class="notice space-smaller">
                        <i class="icon icon-information">
                          <span class="visuallyhidden">Information</span>
                        </i>
                        <strong class="bold-small">
                            When returning to the self assessment form, you'll need to click recalculate to get the new amount you owe.
                        </strong>
                    </div>

            </div>


    </div>





{{/main}}

{{/layout}}