#global-header, #global-header-bar, .phase-banner-alpha { display: none; }

#sa-header { background-color:#066; color:#fff; padding:15px; }

#sa-header .header-proposition a.menu { display:none;}

#sa-header .header-proposition #proposition-name, #sa-header .header-proposition #proposition-name:visited { font-family: "nta", Arial, sans-serif; font-size: 24px; line-height: 1.25; text-transform: none; font-weight: bold; color: white; text-decoration: none; }
#sa-header .header-proposition #proposition-name:hover {text-decoration: underline; }

strong {font-weight: bold;}