{{<layout}}

{{$pageTitle}}
    Remove period of liability
{{/pageTitle}}

{{$main}}

        
        <div class="grid-row">
            <div class="column-two-thirds">
                <a href="javascript:history.go(-1)" class="link-back">Back</a>
                <h1 class="heading-xlarge info-display">Delete a period</h1>                
                
                <div class="notice space-smaller">
                    <i class="icon icon-information">
                      <span class="visuallyhidden">Information</span>
                    </i>
                    <strong class="bold-small">
                        Deleting your self-employment period may affect:
                    </strong>
                </div>
                <ul class="list-bullet space-smaller">
                    <li>how many qualifying years you have for State Pension</li>
                    <li>the amount of State Pension you’re likely to get</li>
                    <li>certain benefits you are entitled to</li>
                </ul>
                <p class="space"><a href="https://www.gov.uk/national-insurance/what-national-insurance-is-for" target="_blank" rel="external">Find out more about what benefits your National Insurance contributions count towards (opens in a new tab)</a></p>
                
                <table class="space">
                    <thead>
                        <tr>
                            <th width="50%">Start date</th>
                            <th width="50%">End date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>13 April 2014</td>
                            <td>7 June 2014</td>
                        </tr>
                    </tbody>
                </table>
                
                <form method="post">
                    <div class="form-group">
                        <a class="button" href="review-delete">Continue</a>
                    </div>
                </form>
                <a href="view.html">Cancel</a>
                

            </div>
        </div>



{{/main}}

{{/layout}}