{{<layout}}

{{$pageTitle}}
	Check your Class 2 National Insurance contributions dates
{{/pageTitle}}

{{$main}}

        
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge info-display">Update your <br/>self-employment details</h1>

                <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>
                <div class="amounts space">
                    <p>Based on the information you have given us, the amount of Class 2 National Insurance you have to pay is:</p>
                    <p><span class="bold-xlarge" style="color: #28a197">£95.20</span><br /><span class="bold-medium">for the tax year 2015 to 2016</span></p>
                </div>             
                <h2 class="heading-medium">Your self-employment periods</h2>
                <p>If any of the self-employment periods are incorrect, you can change, end or delete them. Updating them will change the amount of Class 2 NI you have to pay.</p>


                <table class="space">
                    <thead>
                        <tr>
                            <th width="30%">Start date</th>
                            <th width="30%">End date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Continuing from<br />the previous year</td>
                            <td>4 July 2015</td>
                            <td><a class="button" href="make-changes" style="float: right" title="Update this period">Update<span class="visuallyhidden"> period Continuing from previous year to 4 July 2015</span></a></td>
                        </tr>
                        
                        <tr>
                            <td>15 November 2015</td>
                            <td>Ongoing</td>
                            <td><a class="button" href="make-changes-second" style="float: right" title="Update this period">Update<span class="visuallyhidden"> period 15 November 2015 to Ongoing</span></a></td>
                        </tr>
                    </tbody>
                </table>

                <h2 class="heading-medium">About your self-employment periods</h2>
                <p>Any gaps between periods may be because you:</p>
                <ul class="list list-bullet space">
                    <li>were on Employment Support Allowance (sickness, invalidity or incapacity benefit)</li>
                    <li>claimed Maternity Allowance</li>
                    <li>stopped and re-started self-employment</li>
                    <li>weren't actively seeking self-employment</li>
                </ul>
    <div class="notice space-smaller">
                    <i class="icon icon-information">
                      <span class="visuallyhidden">Information</span>
                    </i>
                    <strong class="bold-small">
                        You still have to pay Class 2 National Insurance during a temporary break if you plan to continue with self-employed work.
                    </strong>
                </div>
                
                <details class="space-smaller">

                    <summary><span class="summary">What's a temporary break in self-employment?</span></summary>

                    <div class="panel panel-border-narrow">

                        <ul class="list list-bullet">
                            <li>times you're not carrying out self-employed work, but still actively seeking it and advertising for it</li>
                            <li>gaps between self-employed projects</li>
                            <li>taking holidays abroad or in the UK</li>
                            <li>writers undertaking research</li>
                            <li>jury service</li>
                        </ul>

                    </div>

                </details>
    
    <h2 class="heading-medium">What else you can do</h2>
    <p>If you were never self-employed during tax year 2015 to 2016, let HMRC know by using the <a href="https://online.hmrc.gov.uk/shortforms/form/CeaseTrading" target="_blank" rel="external">stopping self-employment form (opens in a new tab)</a>.</p>
    <p>If you think you have any missing periods of self-employment, you can add them by using <a href="https://online.hmrc.gov.uk/shortforms/form/CWF1ST?dept-name=CWF1&sub-dep" target="_blank" rel="external">the CWF1 form (opens in a new tab)</a>.</p>
    
    
    <div class="notice space-smaller">
                    <i class="icon icon-information">
                      <span class="visuallyhidden">Information</span>
                    </i>
                    <strong class="bold-small">
                        Changes made through these forms may take up to 15 working days to appear, depending on the level of demand at the time you make them.
                    </strong>
                </div>
                
                <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>
                <div class="panel panel-border-narrow space-smaller">
                    <a class="grey-button" href="javascript:window.open('','_self').close();">Return to Self Assessment</a>
                    <p>When returning to the Self Assessment form, you'll need to click recalculate to get the new amount you have to pay.
                    </p>
                </div>
            

            </div>


    </div>





{{/main}}

{{/layout}}