@import "app.scss";


.form-label-bold {
  @include bold-19;
  margin-bottom: 15px;
  .form-hint {
    @include core-19;
  }
}


.space {
    margin-bottom: 40px;
}

.govuk-box-highlight {
  padding-top: 0.5em
}