{{<layout}}

{{$pageTitle}}
	End your self-employment
{{/pageTitle}}

{{$main}}
        <div class="grid-row">
            <div class="column-two-thirds">
                <a href="javascript:history.go(-1)" class="link-back">Back</a>
                <h1 class="heading-xlarge info-display">End this period of self-employment</h1>
                
                <h2 class="heading-medium">Ending this ongoing period will:</h2>
                    <ul class="list list-bullet space">
                        <li>remove any self-employment periods recorded for the current tax year (2015 to 2016)</li>
                        <li>mean you'll have to <a href="https://public-online.hmrc.gov.uk/lc/content/xfaforms/profiles/forms.html?contentRoot=repository:///Applications/NICs_iForms/1.0/CWF1_20156&template=CWF1.xdp" target="_blank" rel="external">register again (opens in a new tab)</a> if you re-start self-employment in the current tax year </li>
                    </ul>
                
                <div class="notice space">
                    <i class="icon icon-information">
                      <span class="visuallyhidden">Information</span>
                    </i>
                    <strong class="bold-small">
                        If you're claiming Maternity Allowance in the current tax year, you should use the <a href="https://online.hmrc.gov.uk/shortforms/form/CeaseTrading" target="_blank" rel="external">stopping self-employment form (opens in a new tab)</a> to change your end date.
                    </strong>
                </div>

                <table class="space">
                    <thead>
                        <tr>
                            <th width="50%">Start date</th>
                            <th width="50%">End date</th>
                        </tr>
                    </thead>
                    <tbody>                        
                        <tr>
                            <td>15 November 2015</td>
                            <td>Ongoing</td>
                        </tr>
                    </tbody>
                </table>

                    <div class="form-group">
                        <a href="cease.html" class="button" id="continue">Continue</a>
                    </div>
                </form>
                <a href="view.html">Cancel</a>
            </div>
        </div>


{{/main}}

{{/layout}}