{{<layout}}

{{$pageTitle}}
	Change your liability dates
{{/pageTitle}}

{{$main}}

    <main id="content" role="main">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge info-display">Change a date</h1>

                <form method="post">
                    <fieldset>
                        <legend class="form-label-bold">Which of these dates do you want to change?</legend>
                        <label class="block-label" for="radio-1">
                            <input id="radio-1" type="radio" name="next-page" value="change-start-date">Start date of 6 April 2014</label>

                        <label class="block-label" for="radio-2">
                            <input id="radio-2" type="radio" name="next-page" value="change-end-date">End date of 19 July 2014
                        </label>
                    
                        <!--<p class="form-block">or</p>

                        <label class="block-label" for="radio-3">
                            <input id="radio-3" type="radio" name="next-page" value="change-both-dates-start">Both dates
                        </label>-->
                    </fieldset>

                    <p>&nbsp;</p>

                    <div class="form-group>">
                        <input class="button" type="submit" value="Continue">
                    </div>
                </form>


                <a href="javascript:history.go(-1)" class="link-back">Back</a>

            </div>
        </div>
    </main>


{{/main}}

{{/layout}}