{{<layout}}

{{$pageTitle}}
	Confirmation
{{/pageTitle}}

{{$main}}

    <main id="content" role="main">

            <div class="grid-row">
                <div class="column-two-thirds">

                    <div class="govuk-box-highlight">
                        <h1 class="heading-large"><img src="public/images/icons/tick.png"> Date changes received</h1>
                    </div>

                    <p>The period where you have to pay Class 2 National Insurance contributions has been updated.</p>
                    <div class="panel panel-border-narrow space">
                        <table class="space">
                            <thead>
                                <tr>
                                    <th width="35%">Start date</th>
                                    <th width="35%">End date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{startDate}}</td>
                                    <td>{{endDate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <p>The amount you have to pay has changed:</p>

                    <div class="panel panel-border-narrow space">
                        <div class="column-half">
                            <p><span class="font-xsmall">From</span><br /><span class="bold-large" style="color: #6F777B">£112.00</span>
                            <br /><span class="heading-small">Tax year 2014 to 2015</span></p>
                        </div>
                        <div class="column-half">
                            <p><span class="font-xsmall">To</span><br /><span class="bold-large" style="color: #28a197">£126.00</span>
                            <br /><span class="heading-small">Tax year 2014 to 2015</span></p>
                        </div>
                    </div>
                    <a class="grey-button" href="view.html">+ Make another change</a>
                    <div class="form-group">
                        <a class="button" href="/">Finish</a>
                    </div>

                </div>

            </div>

    </main>

{{/main}}

{{/layout}}