{{<layout}}

{{$pageTitle}}
    Remove period of liability
{{/pageTitle}}

{{$main}}


        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge info-display">Delete a period</h1>

                <table class="space">
                    <thead>
                        <tr>
                            <th width="35%">Start date</th>
                            <th width="35%">End date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>6 April 2014</td>
                            <td>19 July 2014</td>
                        </tr>
                    </tbody>
                </table>
                <p>If you delete a period where you have to pay, it will be permanently deleted and can't be recovered.</p>
                <form method="post">
                    <fieldset class="space inline">
                        <legend class="form-label-bold">Do you want to delete this contributions period?</legend>
                        <label class="block-label" for="radio-1">
                            <input id="radio-1" type="radio" name="next-page" value="confirm-delete">Yes</label>

                        <label class="block-label" for="radio-2">
                            <input id="radio-2" type="radio" name="next-page" value="view">No</label>
                    </fieldset>

                    <div class="form-group">
                        <input class="button" type="submit" value="Continue">
                    </div>
                </form>

                <a href="javascript:history.go(-1)" class="link-back">Back</a>

            </div>
        </div>



{{/main}}

{{/layout}}