{{<layout}}

{{$pageTitle}}
	Check your Class 2 National Insurance contributions dates
{{/pageTitle}}

{{$main}}

    <main id="content" role="main">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge info-display">Check your Class 2 National Insurance contributions dates</h1>

                <div class="amounts">
                    <p><span class="bold-xlarge" style="color: #2B8CC4">£112.00</span>
                    <br /><span class="heading-small">Tax year 2014 to 2015</span> </p>
                </div>
                <h2 class="heading-medium">Contributions dates</h2>
                <table class="space">
                    <thead>
                        <tr>
                            <th width="30%">Start date</th>
                            <th width="30%">End date</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>6 April 2014</td>
                            <td>19 July 2014</td>
                            <td><a class="" href="change-dates" style="float: right">Change a date</a></td>
                            <td><a class="" href="delete-period" style="float: right">Delete period</a></td>
                        </tr>
                        <tr>
                            <td>19 October 2014</td>
                            <td>11 April 2015</td>
                            <td><a class="" href="change-dates" style="float: right" alt="Change dates">Change a date</a></td>
                            <td><a class="" href="delete-period" style="float: right" alt="Delete this period">Delete period</a></td>
                        </tr>
                    </tbody>
                </table>
                <div class="space">
                    <a class="font-xsmall grey-button" href="cease.html">End self-employment</a>
                </div>

                <div class="notice space-smaller">
                    <i class="icon icon-important">
                      <span class="visuallyhidden">Warning</span>
                    </i>
                    <strong class="bold-small">
                        Deleting or changing contribution dates may impact:
                    </strong>
                </div>
                <ul class="list-bullet space">
                    <li>how many qualifying years you have for State Pension</li>
                    <li>the amount of State Pension you’re likely to get</li>
                    <li>certain benefits you are entitled to</li>
                </ul>

                <a href="#">Return to Self Assessment</a>


            </div>


    </div>


</main>


{{/main}}

{{/layout}}