{{<layout}}

{{$pageTitle}}
    Remove period of liability
{{/pageTitle}}

{{$main}}


        <div class="grid-row">
            <div class="column-two-thirds">
                <a href="javascript:history.go(-1)" class="link-back">Back</a>
                <h1 class="heading-xlarge info-display">Delete a period</h1>

                <table class="space">
                    <thead>
                        <tr>
                            <th width="35%">Start date</th>
                            <th width="35%">End date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>5 October 2014</td>
                            <td>5 April 2015</td>
                        </tr>
                    </tbody>
                </table>
                
                <div class="notice space-smaller">
                    <i class="icon icon-important">
                      <span class="visuallyhidden">Warning</span>
                    </i>
                    <strong class="bold-small">
                        Deleting a self-employment period may affect:
                    </strong>
                </div>
                <ul class="list-bullet space-smaller">
                    <li>how many qualifying years you have for State Pension</li>
                    <li>the amount of State Pension you’re likely to get</li>
                    <li>certain benefits you are entitled to</li>
                </ul>
                
                <p>You can add periods of self-employment by using form <a href="https://www.gov.uk/government/publications/self-assessment-and-national-insurance-contributions-register-if-youre-a-self-employed-sole-trader-cwf1" target="_blank">CWF1 on gov.uk</a> or by contacting HMRC.</p>
                <form method="post">
                    <div class="form-group">
                        <a class="button" href="review-delete">Continue</a>
                    </div>
                </form>
                <a href="view.html">Cancel</a>
                

            </div>
        </div>



{{/main}}

{{/layout}}