{{<layout}}

{{$pageTitle}}
	GOV.UK prototyping kit
{{/pageTitle}}

{{$main}}

<div class="grid-row">
	<div class="column-two-thirds">

		<h1 class="heading-xlarge">Class 2 National Insurance Reform</h1>
        <p class="lede">Integrates with HMRCs online Self Assessment to enable 4.6m agents/individuals to view and change their periods of Class 2 liability for the previous tax year, and recalculate the amount that is payable.</p>

        {{#isDev}}
        <div class="panel-indent panel-indent-info">
            <a href="/admin/new-iteration" class="button">Create a new iteration</a>
        </div>
        {{/isDev}}

		{{>includes/subapp-list}}

	</div>

</div>

{{/main}}

{{/layout}}