@import "app.scss";


.form-label-bold {
  @include bold-19;
  margin-bottom: 15px;
  .form-hint {
    @include core-19;
  }
}


.space {
    margin-bottom: 40px;
}

.space-smaller {
    margin-bottom: 20px;
}

.govuk-box-highlight {
  padding-top: 0.5em
}


.grey-button {
  background-color: #dee0e2;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.3em 0.6em 0.2em 0.6em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 15px 15px 0;
  padding: 0.5263157895em 0.7894736842em 0.2631578947em 0.7894736842em;
  vertical-align: top;
}

.grey-button:visited {
  background-color: #dee0e2;
}

.grey-button:hover, .grey-button:focus {
  background-color: #d0d3d6;
}

.grey-button:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #dee0e2;
  -moz-box-shadow: 0 0 0 #dee0e2;
  box-shadow: 0 0 0 #dee0e2;
}

.grey-button.disabled, .grey-button[disabled="disabled"], .grey-button[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.grey-button.disabled:hover, .grey-button[disabled="disabled"]:hover, .grey-button[disabled]:hover {
  cursor: default;
  background-color: #dee0e2;
}

.grey-button.disabled:active, .grey-button[disabled="disabled"]:active, .grey-button[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
}

.grey-button:link, .grey-button:hover, .grey-button:focus, .grey-button:visited {
  color: #0b0c0c;
}

.grey-button:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.grey-button:active:before {
  top: -10%;
  height: 120%;
}

.grey-button[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 640px) {
  .grey-button {
    width: 100%;
  }
}

.notice strong {
    padding-left: 65px;
    margin-left: -15px;
}

.panel { border-top-width: 0; border-right-width: 0; border-bottom-width: 0; }

.align-right { text-align: right; }

.clear { clear:both; }

.error-message.hidden { display:none; }

.delagationbanner{
    border-left: 3px solid #005ea5;
    background-color: #def;
    margin: 20px 0 0;
    padding: 0.6em 1em 0.5em 1em;
}