{{<layout}}

{{$pageTitle}}
	Check your Class 2 National Insurance contributions dates
{{/pageTitle}}

{{$main}}


        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge info-display">Update your self-employment details</h1>


                <div class="amounts space">
                   <h2 class="heading-medium"> Tax year 2014 to 2015</h2> 
                    <p>Based on the information you have given us, the amount you have to pay is:</p>
                    <p><span class="bold-xlarge" style="color: #28a197">£68.75</span></p>
                </div>             
                <h2 class="heading-medium">Change, end or delete your self-employment periods</h2>

                <table class="space">
                    <thead>
                        <tr>
                            <th width="30%">Start date</th>
                            <th width="30%">End date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Continuing from<br />2013 to 2014</td>
                            <td>7 June 2014</td>
                            <td><a class="grey-button" href="make-changes" style="float: right" title="Edit this period">Edit</a></td>
                        </tr>
                        
                        <tr>
                            <td>16 November 2014</td>
                            <td>14 March 2015</td>
                            <td><a class="grey-button" href="make-changes-second" style="float: right" title="Edit this period">Edit</a></td>
                        </tr>
                    </tbody>
                </table>
                
                <p>Gaps between periods are when you informed HMRC you weren't in or actively seeking self-employment.
                Temporary breaks aren't shown.</p>
                
                <details class="space">

                            <summary><span class="summary">What's a temporary break in self-employment?</span></summary>

                            <div class="panel panel-border-narrow">

                              <p>
                                You still have to pay Class 2 NICs during a temporary break if you intend to continue being self-employed. This includes:
                              </p>

                                <ul class="list list-bullet">
                                    <li>times you're not carrying out self-employed work, but still actively seeking it and advertising for it</li>
                                    <li>gaps between self-employed projects</li>
                                    <li>taking holidays abroad or in the UK</li>
                                    <li>writers undertaking research</li>
                                    <li>jury service</li>
                                </ul>

                            </div>

                        </details>
                
                
                <p>If you think there's a period missing, you can add periods of self-employment by using <a href="https://www.gov.uk/government/publications/self-assessment-and-national-insurance-contributions-register-if-youre-a-self-employed-sole-trader-cwf1" target="_blank">form CWF1 on gov.uk</a>.</p>
                
                
                <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>
                <p><a class="grey-button" href="sa-nics-amount.html">Return to Self Assessment</a></p>
            

            </div>


    </div>





{{/main}}

{{/layout}}