{{<layout}}

{{$pageTitle}}
    Remove period of liability
{{/pageTitle}}

{{$main}}

    <main id="content" role="main">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge info-display">Remove period of liability</h1>

                <p>You want to remove one or more self-employment date and recalculate how much Class 2 National Insurance you have to pay.</p>
                <table class="space">
                    <thead>
                        <tr>
                            <th width="35%">Start date</th>
                            <th width="35%">End date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12 April 2015</td>
                            <td>18 July 2015</td>
                        </tr>
                    </tbody>
                </table>

                <div class="panel panel-border-narrow space">
                    <p>Removing a self-employment period may impact:</p>
                    <ul class="list-bullet">
                        <li>how many qualifying years you have for State Pension</li>
                        <li>the amount of State Pension you’re likely to get</li>
                        <li>certain benefits you are entitled to</li>
                    </ul>
                </div>

                <form method="post">
                    <fieldset class="space">
                        <legend class="form-label-bold">Confirm you want to remove this self-employment period.</legend>
                        <label class="block-label" for="confirm-removal">
                            <input id="confirm-removal" name="confirm-removal" type="checkbox" value="confirm-removal" required>Delete this self-employment period.
                        </label>
                    </fieldset>

                    <div class="panel panel-border-narrow space">
                    <p>If you choose to remove a self-employment period, it will be permanently deleted and can't be recovered.</p>
                    </div>

                    <div class="form-group>">
                        <input type="hidden" name="next-page" value="confirm-delete">
                        <input class="button" type="submit" value="Continue">
                    </div>
                </form>

                <a href="javascript:history.go(-1)" class="link-back">Back</a>

            </div>
        </div>
    </main>


{{/main}}

{{/layout}}