{{<layout}}

{{$pageTitle}}
	Review your change
{{/pageTitle}}

{{$main}}

    <main id="content" role="main">

            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="heading-xlarge info-display">Review your change</h1>


                    <p>You want to change your self-employment end date.</p>
                    <table class="space">
                        <thead>
                            <tr>
                                <th width="35%">Current end date</th>
                                <th width="35%">New end date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>18 July 2015</td>
                                <td>22 September 2015</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="panel-indent space">
                        <p>The date you want to change is not a Saturday. Your new end date will default to the following Saturday.</p>
                        <p>Your new end date will be:</p>
                        <span class="heading-medium">24 September 2015</span>
                    </div>

                    <p>The amount of Class 2 National Insurance you need to pay will be recalculated on submission.</p>


                    <a class="button grey-button" href="view.html">Cancel</a>
                    <div class="form-group">
                        <a class="button" href="confirm.html">Confirm and submit</a>
                    </div>

                    <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>


                </div>

            </div>

    </main>

{{/main}}

{{/layout}}