{{<layout}}

{{$pageTitle}}
	HMRC Self Assessment
{{/pageTitle}}

{{$main}}

            <main id="content" role="main">
<header role="banner" id="sa-header" class="with-proposition grid-row">
    <div class="column-third">
        <strong>HM Revenue<br />&amp; Customs</strong>
     </div>
    <div class="column-two-third">
        {{$propositionHeader}}{{/propositionHeader}}
    </div>
</header>
<div class="grid-row">
    <h1 class="heading-xlarge">Self-Assessment</h1>
</div>

<div class="grid-row">
    <h2 class="heading-large">Class 2 NICs</h2>
    <p>If your total profits for 2014-15 are less than £5965 you may want to pay Class 2 NICs voluntarily to protect your entitlement to State Pension and certain benefits. Before you decide please check help to find out how not paying may affect you. Select Yes if you want to pay Class 2 NICs voluntarily.</p>
    <form class="space">
    <fieldset class="inline">
        <p>Do you want to pay Class 2 NIC voluntarily?</p>
      <legend class="visuallyhidden">Do you want to pay Class 2 NIC voluntarily?</legend>

      <label class="block-label" for="radio-inline-1">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes" disabled="disabled">
        Yes
      </label>
      <label class="block-label" for="radio-inline-2">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No" disabled="disabled" checked="true">
        No
      </label>

    </fieldset>
  </form>
    <div class="panel panel-border-narrow space">
    <p>The amount you have to pay is shown below. You can <a href="/sprint2se/view.html" target="_blank">make changes</a> to any dates you started or stopped self employment that you may not have told us about.</p>
    <div class="amounts space">
                    <p><span class="bold-xlarge" style="color: #2B8CC4">£106.40</span>
                    <br> <span class="heading-small">Class 2 National Insurance amount</span> </p>
                </div>
    </div>
    <p>You can refresh the page to recalculate your Class 2 National Insurance through your Personal Tax Account if you changed your start or end dates, deleted a period or stopped being self-employed.</p>
    <a class="grey-button" href="/sprint2se/sa-refresh-start-date-change.html">Refresh</a>
</div>

</main>

<link href="{{localAssets}}stylesheets/sa.css" media="screen" rel="stylesheet" type="text/css" />
{{/main}}

{{/layout}}