{{<layout}}

{{$pageTitle}}
	Review your change
{{/pageTitle}}

{{$main}}

    <main id="content" role="main">

            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="heading-xlarge info-display">Review your change</h1>

                    <p>You want to change your start date.</p>
                    <table class="space">
                        <thead>
                            <tr>
                                <th width="35%">Current start date</th>
                                <th width="35%">New start date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>13 April 2014</td>
                                <td>13 May 2014</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="panel-indent space">
                        <p>The date you want to change is not a Sunday. Your new start date will default to the previous Sunday.</p>
                        <p>Your new start date will be:</p>
                        <span class="heading-medium">11 May 2014</span>
                    </div>

                    <p class="space">The amount of Class 2 National Insurance you need to pay will be recalculated on submission.</p>

                    <a class="button grey-button" href="view.html">Cancel</a>
                    <div class="form-group">
                        <a class="button" href="confirm-start.html">Confirm and submit</a>
                    </div>

                    <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

                </div>
            </div>

        </main>





    </div>


</main>


{{/main}}

{{/layout}}