{{<layout}}

{{$pageTitle}}
	View your liability
{{/pageTitle}}

{{$main}}

    <main id="content" role="main">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge info-display">What you have to pay</h1>
                
                <div class="amounts">
                    <p><span class="bold-xlarge" style="color: #2B8CC4">£106.40</span>
                    <br /><span class="heading-small">Tax year 6 April 2014 to 5 April 2015 (52 weeks)</span> </p>
                </div>
                    <p>Class 2 National Insurance contributions (NICs) are £2.80 a week for the tax year 2015 to 2016 and are collected through your Self Assessment return.</p>
                <div class="panel-indent">
                    <p>Each week of self-employment is part of your period of liability – the period where you have to pay Class 2 National Insurance contributions.</p>
                </div>

                <p>You can view, change and delete any of the periods below and recalculate how much Class 2 National Insurance you need to pay.</p>

                <h2 class="heading-medium">The periods where you have to pay</h2>
                <table class="space">
                    <thead>
                        <tr>
                            <th width="30%">Start date</th>
                            <th width="30%">End date</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>13 April 2014</td>
                            <td>19 July 2014</td>
                            <td><a class="" href="change-dates" style="float: right">Change a date</a></td>
                            <td><a class="" href="delete-period" style="float: right">Delete a date</a></td>
                        </tr>
                        <tr>
                            <td>19 October 2014</td>
                            <td>4 April 2015</td>
                            <td><a class="" href="change-dates" style="float: right" alt="Change dates">Change a date</a></td>
                            <td><a class="" href="delete-period" style="float: right" alt="Delete this period">Delete a date</a></td>
                        </tr>

                    </tbody>
                </table>

                <div class="panel-indent space">
                    <p>If you delete a period where you have to pay, it will be permanently deleted and can't be recovered.</p>
                </div>

                <a class="grey-button" href="index.html">Return to Self-Assessment</a>


            </div>


    </div>


</main>


{{/main}}

{{/layout}}