{{<layout}}

{{$pageTitle}}
	View your liability
{{/pageTitle}}

{{$main}}

    <main id="content" role="main">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge info-display">What you have to pay</h1>






                {{! <p class="code">You can view and change your periods of Class 2 liability for the previous tax year and recalculate the amount you need to pay.</p> }}

                {{! <p>Your current Class 2 liability for the tax year April 2015 to April 2016 is:</p> }}
                <div class="amounts">
                    <p><span class="bold-xlarge" style="color: #2B8CC4">£145.60</span>
                    <br />{{! is your current Class 2 liability for the }} <span class="heading-small">Tax year 6 April 2015 to 5 April 2016 (52 weeks)</span> </p>
                </div>

                <div class="panel-indent">
                    <p>Class 2 National Insurance weeks start on a Sunday and end on a Saturday. The dates shown may differ from the standard tax year (06 April to 05 April).</p>
                </div>

                <p>You can view, change and delete your self-employment periods for the relevant tax year and recalculate how much Class 2 National Insurance you need to pay.</p>

                <h2 class="heading-medium">Your self-employment periods</h2>
                <table class="space">
                    <thead>
                        <tr>
                            <th width="30%">Start date</th>
                            <th width="30%">End date</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12 April 2015</td>
                            <td>18 July 2015</td>
                            <td><a class="" href="change-dates" style="float: right">Change</a></td>
                            <td><a class="" href="delete-period" style="float: right">Delete</a></td>
                        </tr>
                        <tr>
                            <td>16 October 2015</td>
                            <td>9 April 2016</td>
                            <td><a class="" href="change-dates" style="float: right" alt="Change dates">Change</a></td>
                            <td><a class="" href="delete-period" style="float: right" alt="Delete this period">Delete</a></td>
                        </tr>

                    </tbody>
                </table>

                <div class="panel-indent space">
                    <p>If you choose to remove a self-employment period, it will be permanently deleted and can't be recovered.</p>
                </div>

                <a class="grey-button" href="#">Return to Self-Assessment</a>
                {{! <a href="" class="link-back">return to self assessment</a> }}

                {{! <div class="form-group">
                    <a class="button applicationButton startapplication" style="background:#005EA5;" href="/sprint0/view.html">Cancel</a>
                </div> }}





            </div>


    </div>


</main>


{{/main}}

{{/layout}}