{{<layout}}

{{$pageTitle}}
	Check your Class 2 National Insurance contributions dates
{{/pageTitle}}

{{$main}}


        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge info-display">Update your self-employment details</h1>


                <div class="amounts">
                    <h2 class="heading-medium">The amount we think you have to pay is:</h2>
                    <p><span class="bold-xlarge" style="color: #2B8CC4">£107.25</span>
                    <br /><span class="heading-small">Tax year 2014 to 2015</span> </p>
                </div>
                <h2 class="heading-medium">You can change, delete or end your self-employment dates below:</h2>
                <table class="space">
                    <thead>
                        <tr>
                            <th width="30%">Start date</th>
                            <th width="30%">End date</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>6 April 2014</td>
                            <td>5 July 2014</td>
                            <td><a class="" href="change-dates" style="float: right">Change</a></td>
                            <td><a class="" href="delete-period" style="float: right">Delete</a></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>5 October 2014</td>
                            <td>4 April 2015</td>
                            <td><a class="" href="change-dates" style="float: right" alt="Change dates">Change</a></td>
                            <td><a class="" href="delete-period" style="float: right" alt="Delete this period">Delete</a></td>
                            <td><a class="" href="cease" style="float: right" alt="End self-employment">End</a></td>
                        </tr>
                    </tbody>
                </table>

                <div class="notice space-smaller">
                    <i class="icon icon-important">
                      <span class="visuallyhidden">Warning</span>
                    </i>
                    <strong class="bold-small">
                        Changing, deleting or ending your self-employment dates may impact:
                    </strong>
                </div>
                <ul class="list-bullet space">
                    <li>how many qualifying years you have for State Pension</li>
                    <li>the amount of State Pension you’re likely to get</li>
                    <li>certain benefits you are entitled to</li>
                </ul>

                <a href="#">Return to Self Assessment</a>


            </div>


    </div>





{{/main}}

{{/layout}}