{{<layout}}

{{$pageTitle}}
	Self-employment ended
{{/pageTitle}}

{{$main}}



            <div class="grid-row">
                <div class="column-two-thirds">

                    <div class="govuk-box-highlight">
                        <h1 class="heading-large"><img src="public/images/icons/tick.png"> Self-employment ended</h1>
                        <strong class="heading-medium">Your self-employment end date is<br/>3 January 2015</strong>
                    </div>

                    <p>Your contributions amount has changed:</p>

                    <div class="panel panel-border-narrow space">
                        <div class="column-half">
                            <p><span class="font-xsmall">From</span><br /><span class="bold-large" style="color: #6F777B">£107.25</span>
                            <br /><span class="heading-small">Tax year 2014 to 2015</span></p>
                        </div>
                        <div class="column-half">
                            <p><span class="font-xsmall">To</span><br /><span class="bold-large" style="color: #28a197">£71.50</span>
                            <br /><span class="heading-small">Tax year 2014 to 2015</span></p>
                        </div>
                    </div>

                    <ul class="list list-links">
                        <li><a href="view.html">Make another change</a></li>
                        <li><a href="index.html">Return to self-assessment</a></li>
                    </ul>

                </div>

            </div>



{{/main}}

{{/layout}}