{{<layout}}

{{$pageTitle}}
	National Insurance Class 2 Reform
{{/pageTitle}}

{{$main}}

    <main id="content" role="main">

            <div class="grid-row">
                <div class="column-two-thirds">

                    <div class="govuk-box-highlight">
                        <h1 class="heading-large"><img src="public/images/icons/tick.png"> Period of liability deleted</h1>
                    </div>

                    <p>Your revised periods of liability are now:</p>
                    <div class="panel-indent panel-indent-info space">
                        <table class="space">
                            <thead>
                                <tr>
                                    <th width="35%">Start date</th>
                                    <th width="35%">End date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>16 October 2015</td>
                                    <td>19 April 2015</td>
                                </tr>
                               {{! <tr>
                                    <td>16 October 2015</td>
                                    <td>9 April 2016</td>
                                </tr> }}
                            </tbody>
                        </table>
                    </div>

                    <p>The deletion of this period of liability means that your Class 2 liability is now:</p>

                    <div class="panel-indent panel-indent-info  space">
                        <p><span class="bold-large" style="color: #28a197">£50.40</span>
                        <br /><span class="heading-small">Tax year 12 April 2015 to 9 April 2016 (52 weeks)</span></p>
                           {{!  <p>from your previously calculated value of £145.60</p> }}

                        {{! <div class="column-half">
                            <p><span class="font-xsmall">From</span><br /><span class="bold-large" style="color: #6F777B">£145.60</span>
                            <br /><span class="heading-small">Tax year 12 April 2015 to 9 April 2016 (52 weeks)</span></p>
                        </div> }}
                    </div>
                    {{! <p class="font-xsmall" style="margin-top: 2em">If any of your details are wrong, <a href="#" target="_blank">contact xxxx xxxx (opens in a new window)</a>.</p> }}
                    {{! <a class="button applicationButton startapplication" style="background:#005EA5;" href="/sprint0/view.html">+ Make another change</a> }}

                    <a class="grey-button" href="view.html">+ Make another change</a>
                    <div class="form-group">
                        <a class="button" href="/">Finish</a>
                    </div>

                </div>

            </div>

    </main>

{{/main}}

{{/layout}}