{{<layout}}

{{$pageTitle}}
    Class 2 National Insurance
{{/pageTitle}}

{{$main}}

    <main id="content" role="main">

            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="heading-xlarge info-display">Class 2 National Insurance</h1>
                    <p class="lede">You have to pay Class 2 National Insurance when in self-employment.</p>

                    <div class="panel-indent space">
                    <p>Use this service to:</p>
                    <ul class="list-bullet">
                        <li>view your periods of self-employment</li>
                        <li>change periods of self-employment if the dates we have are incorrect</li>
                        <li>understand the amount of Class 2 National Insurance you have to pay</li>
                        <li>recalculate payments if you change any self-employment dates</li>
                    </ul>
                    </div>

                        <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>



                    <a class="button button-get-started" href="/iteration2/view.html" role="button">Start</a>

                    <h2 class="heading-medium">What you need to know</h2>
                    <ul class="list-bullet">
                        <li>any gaps between dates may be because you claimed a benefit where you received credits or you stopped and re-started self-employment</li>
                        <li>you still have to pay Class 2 National Insurance during a temporary break in self-employment if you plan to continue with self-employed work</li>
                    </ul>

                    <p>You can make changes <a href="#">outside of the relevant tax year</a>.</p>
                </div>
            </div>

        </main>





    </div>


</main>


{{/main}}

{{/layout}}