{{<layout}}

{{$pageTitle}}
	Review your change
{{/pageTitle}}

{{$main}}

    <main id="content" role="main">

            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="heading-xlarge info-display">Review your change</h1>

                    <p>You want to change your period of liability:</p>
                    <table class="space">
                        <thead>
                            <tr>
                                <th width="35%">Current start date</th>
                                <th width="35%">New start date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>12 April 2015</td>
                                <td>12 May 2015</td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="panel panel-border-narrow space">
                        <p>The date you want to change isn't a Sunday, so your liability will default to the following Sunday.</p>
                        <p>Your new start date will be:</p>
                        <span class="heading-medium">8 May 2015</span>
                    </div>

                    <p class="space">Your new liability will be calculated on submission.</p>

                    <a class="button grey-button" href="view.html">Cancel</a>
                    <div class="form-group">
                        <a class="button" href="confirm.html">Confirm and submit</a>
                    </div>

                    <p><a href="javascript:history.go(-1)" class="link-back">Back</a></p>

                </div>
            </div>

        </main>





    </div>


</main>


{{/main}}

{{/layout}}