{{<layout}}

{{$pageTitle}}
	National Insurance Class 2 Reform
{{/pageTitle}}

{{$main}}

    <main id="content" role="main">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge info-display">Your liability</h1>






                {{! <p class="code">You can view and change your periods of Class 2 liability for the previous tax year and recalculate the amount you need to pay.</p> }}

                {{! <p>Your current Class 2 liability for the tax year April 2015 to April 2016 is:</p> }}
                <div class="amounts">
                    <p><span class="bold-xlarge" style="color: #2B8CC4">£145.60</span>
                    <br />{{! is your current Class 2 liability for the }} <span class="heading-small">Tax year 12 April 2015 to 9 April 2016 (52 weeks)</span> </p>
                </div>

                <div class="panel-indent">
                    <p>Your Class 2 National Insurance weekly liability starts on a Sunday and ends on a Saturday, so the dates shown may differ from the standard tax year (06 April to 05 April).</p>
                </div>

                <p>You can view, change and delete your periods of liability for the relevant tax year and recalculate the amount you need to pay.</p>

                <h2 class="heading-medium">Your periods of liability</h2>
                <table>
                    <thead>
                        <tr>
                            <th width="30%">Start date</th>
                            <th width="30%">End date</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12 April 2015</td>
                            <td>18 July 2015</td>
                            <td><a class="" href="change-dates" style="float: right">Change dates</a></td>
                            <td><a class="" href="delete-period" style="float: right">Delete</a></td>
                        </tr>
                        <tr>
                            <td>16 October 2015</td>
                            <td>9 April 2016</td>
                            <td><a class="" href="change-dates" style="float: right">Change dates</a></td>
                            <td><a class="" href="delete-period" style="float: right">Delete</a></td>
                        </tr>

                    </tbody>
                </table>


                <p class="font-xsmall space" style="margin-top: 2em">If any of your details are wrong, <a href="#" target="_blank">contact xxxx xxxx (opens in a new window)</a>.</p>

                <a class="grey-button" href="#">Return to Self-Assessment</a>
                {{! <a href="" class="link-back">return to self assessment</a> }}

                {{! <div class="form-group">
                    <a class="button applicationButton startapplication" style="background:#005EA5;" href="/sprint0/view.html">Cancel</a>
                </div> }}





            </div>


    </div>


</main>


{{/main}}

{{/layout}}