{{<layout}}


{{$pageTitle}}
    Change end date
{{/pageTitle}}

{{$main}}

        <div class="grid-row">
            <div class="column-two-thirds">
                <a href="javascript:history.go(-1)" class="link-back">Back</a>
                <h1 class="heading-xlarge info-display">Change your end date</h1>
                    
                 <table class="space">
                    <thead>
                        <tr>
                            <th width="50%">Start date</th>
                            <th width="50%">End date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Continuing from<br />previous year</td>
                            <td>7 June 2014</td>
                        </tr>
                    </tbody>
                </table>
                    
                <div class="notice space-smaller">
                    <i class="icon icon-information">
                      <span class="visuallyhidden">Information</span>
                    </i>
                    <strong class="bold-small">
                        Changing your self-employment dates may affect:
                    </strong>
                </div>
                <ul class="list-bullet space-smaller">
                    <li>how many qualifying years you have for State Pension</li>
                    <li>the amount of State Pension you’re likely to get</li>
                    <li>certain benefits you are entitled to</li>
                </ul>
                <p><a href="https://www.gov.uk/national-insurance/what-national-insurance-is-for" target="_blank" rel="external">Find out more on gov.uk (opens in a new tab)</a></p>

                <form method="post" class="space">
                    <div id="invalid-date" class="error-summary hidden" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

                      <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
                        There is a problem
                      </h1>
                      <p>Check you have entered the date correctly</p>
                      <ul class="error-summary-list">
                        <li><a href="#new-end-date">You must enter a date between 6 April 2014 and 11 April 2015</a></li>
                      </ul>
                        
                        <p>If your self-employment ended outside of these dates you can let us know by using the <a href="https://online.hmrc.gov.uk/shortforms/form/CeaseTrading" target="_blank" rel="external">Stopping self-employment form on gov.uk (opens in a new tab)</a></p>
                    </div>
                    <div id="overlap-date" class="error-summary hidden" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

                      <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
                        There is a problem
                      </h1>
                        <p>Check you have entered the date correctly</p>
                      <ul class="error-summary-list">
                        <li><a href="#new-end-date">The date you have entered overlaps with another self-employment period: 16 November to Ongoing</a></li>
                      </ul>
                    </div>
                    <div id="date-entry" class="form-date form-group">
                        <fieldset>
                        
                            <legend id="new-end-date" class="form-label-bold">Enter new end date</legend>
                            <p class="form-hint">For example, 31 3 2015</p>
                            <p class="error-message hidden" id="error-end-date">Enter a date between 6 April 2014 and 11 April 2015</span>
                            <p class="error-message hidden" id="error-overlap-date">Enter a date that doesn’t overlap with another self-employment period</span>
                            <div class="form-group form-group-day">
                                <label for="endDay">Day</label>
                                <input autocomplete="off" class="form-control" id="endDay" name="endDay" type="number"  pattern="[0-9]*" min="1" max="31" maxlength="2" required aria-describedby="error-end-date">
                            </div>
                            <div class="form-group form-group-month">
                                <label for="endMonth">Month</label>
                                <input autocomplete="off" class="form-control" id="endMonth" name="endMonth" type="number" maxlength="2" pattern="[0-9]*" min="1" max="12" required>
                            </div>
                            <div class="form-group form-group-year">
                                <label for="endYear">Year</label>
                                <input autocomplete="off" class="form-control" id="endYear" name="endYear" type="number" maxlength="4" pattern="[0-9]*" min="2014" max="2015" required>
                            </div>
                        </fieldset>
                    </div>


                    <div class="form-group>">
                        <input type="hidden" name="next-page" value="review-end">
                        <input class="button" id="continue"  value="Continue" type="button">
                    </div>
                </form>
                <a href="view.html">Cancel</a>
            </div>
        </div>

<script>
//within two dates 6-4-2014 / 11-4-2015
//not within two dates 16-11-2014 / 14-3-2015

document.getElementById("continue").addEventListener("click", newFunction);
    
var d = document.getElementById("endDay");
var m = document.getElementById("endMonth");
var y = document.getElementById("endYear");
    
var dateOne = new Date(2014,3,5);
var dateTwo = new Date(2015,3,11);
var dateThree = new Date(2014,10,15);
var dateFour = new Date(2015,2,13);
    
var withinRange;
var notOverlapping;
    
function newFunction() {
    var dateEntered = new Date(y.value, m.value - 1, d.value);
    if ( dateEntered <= dateOne || dateEntered > dateTwo ) {
        $('#error-end-date').removeClass('hidden');
        $('#date-entry').addClass('error');
        $('#invalid-date').removeClass('hidden');
        withinRange = false;
      
    } else {
        $('#error-end-date').addClass('hidden');
        $('#date-entry').removeClass('error');
        $('#invalid-date').addClass('hidden');
        withinRange = true;
      
    }
    if ( dateEntered > dateThree && dateEntered < dateFour ) {
        $('#error-overlap-date').removeClass('hidden');
        $('#date-entry').addClass('error');
        $('#overlap-date').removeClass('hidden');
        $('#error-end-date').addClass('hidden');
        $('#invalid-date').addClass('hidden');
        notOverlapping = false;

    } else {
        $('#error-overlap-date').addClass('hidden');
        $('#overlap-date').addClass('hidden');
        $('#error-end-date').removeClass('hidden');
        notOverlapping = true;
    }    
     if (withinRange == true && notOverlapping == true) {
        $('#continue').attr('type', 'submit');
    }

}

</script>
{{/main}}

{{/layout}}